$nprogressColor ?= $accentColor

#nprogress
  pointer-events none
  .bar
    background $nprogressColor
    position fixed
    z-index 1031

// mix non-indent grammer
.app { color: red; }

// raw css
@css {
  .main {
    color: blue;
  }
}
